@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  src: url("../public/fonts/IRANYekanXFaNum-Bold.woff2");
  font-family: IRANYekan;
  font-weight: bold;
}

@font-face {
  src: url("../public/fonts/IRANYekanXFaNum-Light.woff2");
  font-family: IRANYekan;
  font-weight: lighter;
}

@font-face {
  src: url("../public/fonts/IRANYekanXFaNum-Medium.woff2");
  font-family: IRANYekan;
  font-weight: normal;
}

.swiper-pagination-bullet {
  width: 6px !important;
  height: 6px !important;
}

.swiper-pagination-bullet-active {
  background-color: #10b77f !important;
  width: 9px !important;
  height: 9px !important;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #fff;
  width: 25px !important;
  height: 25px !important;
  border-radius: 50%;
  padding: 0 !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 17px !important;
  padding: 0 !important;
  color: #847e7e;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 45px;
  height: 40px;
  background: linear-gradient(
      #0000 calc(1 * 100% / 6),
      #fff 0 calc(3 * 100% / 6),
      #0000 0
    ),
    linear-gradient(
      #0000 calc(2 * 100% / 6),
      #fff 0 calc(4 * 100% / 6),
      #0000 0
    ),
    linear-gradient(
      #0000 calc(3 * 100% / 6),
      #fff 0 calc(5 * 100% / 6),
      #0000 0
    );
  background-size: 10px 400%;
  background-repeat: no-repeat;
  animation: matrix 1s infinite linear;
}
@keyframes matrix {
  0% {
    background-position: 0% 100%, 50% 100%, 100% 100%;
  }
  100% {
    background-position: 0% 0%, 50% 0%, 100% 0%;
  }
}

@layer base {
  body {
    @apply font-iranyekan;
  }
}
